.card-detail{
    height: 390px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

ul li{
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 10px;
}

.title-selection{
    margin-left: 50px;
    font-size:40px;
    font-weight:bold;
}

.picture-detail{
    float: left;
    width: 200px;
    margin-right: 50px;
    margin-left: 50px;
    border: 1px solid black;
}

.price-detail{
    font-size: 18px;
    font-weight: bold;
}

.counterBox{
    height: 120px;
    width: 170px;
    
    display: inline-block;
}

.bloque-inferior{
    margin-top: 0px;    
}
.buyButton{
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    width: 200px;  
    height: 35px;
    margin-right: 10px;
    font-size: 15px;

}
.box-number{
    display: inline-block;
    margin: 10px;
    
}

.lower-block{
    width: 150px;
    margin-left: 0px;
}

.add-button{
    margin: 5px 0 0 0;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    width: 200px;  
    height: 35px;
    font-size: 15px;

}

.counterBox{
    width: 200px;
}
