.detalle-plantilla{
    height: 400px;
    width: 600px;
    border: 1px solid black
}

ul li{
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 10px;

}

.titulo-seleccion{
    font-size:20px;
    font-weight:bold;
}

.foto-detalle{
    display: inline-block;
    float: left;
}

.detalle-precio{
    font-size: 18px;
    font-weight: bold;
}