.div-ofertas{
    border: 5px solid black;
    height: 200px;
    background-color: lightblue;
}

.texto-ofertas{
    width: 80%;
    font-size: 40px;
    color: red;
    font-weight: bolder;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0;
}

.caja-producto{
    height:150px;
    width:150px;
    border: 2px solid black;
    font-size: 35px;

}

.caja-numero{
    display: inline-block;
    margin: 10px;
}

.bloque-inferior{
    width: 150px;
    margin-left: 40px;
}
.boton-agregar{
    margin: 17px;
}