.caja-producto{
    height:150px;
    width:150px;
    border: 2px solid black;
    font-size: 35px;

}

.caja-numero{
    display: inline-block;
    margin: 10px;
}

.bloque-inferior{
    width: 150px;
    margin-left: 40px;
}
